<p id="notice"><%= notice %></p>

<h1>User Tasks</h1>



<div id= "task-form"></div>

<div id="tasks">
  <ul>
    <%=render @user_tasks %>
  </ul>
</div>

<%= link_to 'New User Task', new_user_task_path, remote:true %>
<!--Enabling ‘remote’ allows us to control the redirect of the link. By default this would run to controller#new -->